:root {
  --main-color: #af7eeb;
  --white: #ffffff;
  --light-grey: #ededed;
  --grey: #bcbcbc;
}

* {
  font-family: "Open Sans", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #e2e9ff;
}
.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  max-width: 300px;
  height: 500px;
  max-height: 100vh;
  background: white;
  text-align: center;
  padding: 50px;
  border-radius: 5px;
}

/* Components */
.button {
  padding: 10px 18px;
  color: var(--white);
  font-weight: bold;
  border-radius: 20px;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
}
.button-delete {
  padding: 0;
  margin: 0;
  margin-left: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

h1 {
  margin: 32px 0;
  font-size: 24px;
}

/* Form */
.form {
  display: flex;
  margin-bottom: 20px;
}
.form input {
  flex: 1;
  padding: 15px 32px 15px 16px;
  border-radius: 20px 0 0 20px;
  border: 1px solid var(--light-grey);
  outline: none;
  background: transparent;
}
.form .button {
  cursor: pointer;
  border-radius: 0 20px 20px 0;
}

/* List */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-row {
  position: relative;
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.todo-row input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: relative;
  height: 20px;
  width: 20px;
  border: 2px solid #ededed;
  border-radius: 50%;
  margin-right: 18px;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 7px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid var(--main-color);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.completed {
  color: var(--grey);
  text-decoration: line-through;
}
.completed .checkmark {
  border-color: var(--main-color);
}
.completed .checkmark:after {
  display: block;
}
